body{
	margin: auto;
	width: 80%;
}

.body div , .body_section {
	border-radius: 3px;
    background-color: #eee;
    margin-bottom: 2px;
    padding: 15px;
}

footer .footer_section{
	display: inline-block;
	width: 33%;
	background-color: #eee;
}

#connexion {
	text-align: right;
}

#connexion div {
	display: inline-block;
}

.inscription , .logo{
	border : 1px solid grey;
	border-radius: 5px;
	width: 45%;
	display: inline-block;
	padding: 20px;
}

.inscription div{
	display: block;
}

.identite div{
    display: inline-block;
}

.inscription input{
	padding: 5px;
}